*.elc
*.pyc
*~
*\#
.*.swp
._*
.DS_Store
.Trashes*
.Spotlight-V100*
.fseventsd*

markers/.*.svg$
markers/.*.m3u
archive/*
Medley.egg-info/
build/*
dist/*
player/configs.json*
medley/tricks.yaml
medley/debug.log
server/debug.log
