// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $grayDark;

$dropdownLinkColorActive:       $dropdownLinkColor;
$dropdownLinkBackgroundActive:  $linkColor;

$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;

