// TYPOGRAPHY!
// ---------------------------------------------------------------------------

// Resources

// http://letteringjs.com/

// ---------------------------------------------------------------------------
// Type Settings

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor

$base-font-size             : $normpx;
$base-line-height           : $medpx;
$baseLineHeight             : $medpx;

$round-to-nearest-half-line : true;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;


h1, h2, h3, p.intro { 
  text-rendering: optimizeLegibility; 
}



// ---------------------------------------------------------------------------
// Type Mixins

@mixin ellipsis($r:1) {
  overflow: hidden;
  max-height: rhythm($r);
  white-space: nowrap;
  word-wrap: break-word;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


// Placeholder text
// -------------------------
@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


// FONTS
// --------------------------------------------------

// might try: 
//   #gradient { @include vertical($navbarBackgroundHighlight, $navbarBackground); }

//#font {
//  #family {
@mixin serif-family() {
    font-family: $serifFontFamily;
}
@mixin sans-serif-family() {
    font-family: $sansFontFamily;
}
@mixin monospace-family() {
    font-family: $monoFontFamily;
}
//  }
@mixin shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

//not sure if this conversion is correct:
@mixin serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    #font { #family { @include serif-family(); } }
    #font { @include shorthand($size, $weight, $lineHeight); }
}
@mixin sans-serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    #font { #family { @include sans-serif-family(); } }
    #font { @include shorthand($size, $weight, $lineHeight); }
}
@mixin monospace($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    #font { #family { @include monospace-family(); } }
    #font { @include shorthand($size, $weight, $lineHeight); }
}
//}


