@import 'normalize.less';
@import 'grid.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


@column-width: 230px;

////////////
// LAYOUT //
////////////

p { 
    margin: 0;
    margin-top: .5em;
}

ul { 
    padding-left: 0px;
    margin: 0;
}

a {
  color: #dc322f;
}

a:visited {
  color: #a31e1b;
}

a:hover {
  color: #e77370;
}

a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}


.position {
    margin: 0;
    margin-bottom: 5px;
}

.page {
    padding: 10px;
}

.row {
    clear: both;
}

// header
header#top {
	margin-bottom: 1em;
}

.main_tag {
    color: black;
}

// main column & sidebar
.leftcolumn {
	.column(4);
}
.rightcolumn {
	.column(8);
}

// main column & sidebar
#maincolumn {
	.column(9);
}
#sidebar {
	.column(3);
}

.summary {
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    width: @column-width;
}

.available {
    background-color: lightgray;
}

.content {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height:16px;
  //float: left;  
}


//will get unhidden in javascript expand-one 
.content-one {
    display:none;
}

#people {
    clear: both;
    //display: block;
    display: inline;
}


#results {
    clear: both;
    display: inline;
}

//this creates columns with no gaps between anything
//but the order may not be intuitive
//http://alistapart.com/article/multicolumnlists
.top-bottom-columns {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 9;
   -webkit-column-gap:   0px;
   -moz-column-count:    9;
   -moz-column-gap:      0px;
   column-count:         9;
   column-gap:           0px;
   
}

@media (max-width: 2000px) {
  .top-bottom-columns {
  -moz-column-count:    8;
  -webkit-column-count: 8;
  column-count:         8;
  }
}
@media (max-width: 1800px) {
  .top-bottom-columns {
  -moz-column-count:    7;
  -webkit-column-count: 7;
  column-count:         7;
  }
}
@media (max-width: 1600px) {
  .top-bottom-columns {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1400px) {
  .top-bottom-columns {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1200px) {
  .top-bottom-columns {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .top-bottom-columns {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .top-bottom-columns {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .top-bottom-columns {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.person {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.tags {
    text-align: left;
    padding-left: 20px;
}

.tag {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    font-size: small;
}

.thumb {
    //width: @column-width;
  width: 100% !important;
  height: auto !important;
}

.icon {
    width: 20px;
    height: 20px;
}

/* http://css-tricks.com/seamless-responsive-photo-grid/ */

.person_name {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: left;
}

.spacer {
    padding: 0 5px;
}

.name_background {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    //margin: 10px;
    //display: inline-block;
}

.name_link {
    font: bold 24px/45px Helvetica, Sans-Serif;
    text-decoration: none;
    color: white;
    line-height: 46px;
}

a:visited.name_link {
  color: white;
}

.content_count {
    font: bold 12px Helvetica, Sans-Serif;
    line-height: 20px;
    //padding: 5px
}

.block {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    position: relative;
}

.block2 {
    /* Just in case there are inline attributes */
    width: @column-width !important;
    height: auto !important;
    position: relative;
}



.item {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fdf6e3;
  color: #657b83;
}
.lt-ie9 body {
  min-width: 960px;
}

@media screen and (max-width: 720px) {
	#maincolumn,
	#sidebar {
		.column(12);
		margin-bottom: 1em;
	}
}
