@import 'normalize.less';
@import 'grid.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

p { 
    margin: 0;
    margin-top: .5em;
}

ul { 
    padding-left: 0px;
    margin: 0;
}

.icon {
    width: 22px;
}

.position {
    margin: 0;
    margin-bottom: 5px;
}

.page {
    padding: 10px;
}

.content {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

//will get unhidden in javascript expand-one 
.content-one {
    display:none;
}

.row {
    clear: both;
}

.person {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.tags {
    text-align: left;
    padding-left: 20px;
}

.tag {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    font-size: small;
}

.summary {
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    width: 230px;
}

.available {
    background-color: lightgray;
}

.thumb {
    width: 230px;
}

.icon {
    width: 20px;
    height: 20px;
}



// header
header#top {
	margin-bottom: 1em;
}

// main column & sidebar
.leftcolumn {
	.column(6);
}
.rightcolumn {
	.column(6);
}

// main column & sidebar
#maincolumn {
	.column(9);
}
#sidebar {
	.column(3);
}

.item {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fdf6e3;
  color: #657b83;
}
.lt-ie9 body {
  min-width: 960px;
}

a {
  color: #dc322f;
}

a:visited {
  color: #a31e1b;
}

a:hover {
  color: #e77370;
}

a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}

@media screen and (max-width: 720px) {
	#maincolumn,
	#sidebar {
		.column(12);
		margin-bottom: 1em;
	}
}